<div class="section section-padding" style="padding-top: 0px; padding-bottom: 35px;">
    <div class="container">

        <!-- Banners Start -->
        <div class="row mb-n6 overflow-hidden">
            <!-- Banner Start -->
            <div class="col-md-6 col-12 mb-6" data-aos="fade-right" data-aos-delay="300">
                <div class="banner">
                    <div class="banner-image">
                        <a href="@Url.Action("urunlerimiz","anasayfa")"><img src="assets/images/banner/banner-4.jpg" alt="Banner Image"></a>
                    </div>
                    <div class="info">
                        <div class="small-banner-content">
                            <h4 class="sub-title"><span>Sütyen</span></h4>
                            <h3 class="title">Takımlarımızdan</h3>
                            <a href="@Url.Action("urunlerimiz","anasayfa", new { categoryId = 9 })" class="btn btn-primary btn-hover-dark btn-sm">Sipariş Edin</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
            <!-- Banner Start -->
            <div class="col-md-6 col-12 mb-6" data-aos="fade-left" data-aos-delay="300">
                <div class="banner">
                    <div class="banner-image">
                        <a href="@Url.Action("urunlerimiz","anasayfa")"><img src="assets/images/banner/banner-5.jpg" alt="Banner Image"></a>
                    </div>
                    <div class="info">
                        <div class="small-banner-content">
                            <h4 class="sub-title"><span>Tekli</span></h4>
                            <h3 class="title">Sütyenlerimizden</h3>
                            <a href="@Url.Action("urunlerimiz","anasayfa", new { categoryId = 11 })" class="btn btn-primary btn-hover-dark btn-sm">Sipariş Edin</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->

        </div>
        <!-- Banners End -->
    </div>
</div>