<div class="section section-margin" style=" margin-top: 43px; margin-bottom: 57px;">
    <div class="container">

        <!-- Banners Start -->
        <div class="row mb-n6">
            <!-- Banner Start -->
            <div class="col-lg-4 col-md-6 col-12 mb-6">
                <div class="banner" data-aos="fade-up" data-aos-delay="300">
                    <div class="banner-image">
                        <img src="~/assets/images/banner/banner-1.jpg" alt="">
                    </div>
                    <div class="info" style="margin: 0 auto; display: table; position: relative; left: 0; top: -42px;">
                        <div class="small-banner-content">
                            <a href="@Url.Action("urunlerimiz","anasayfa", new { brandId = 1 })" class="btn btn-dark btn-sm">Ürünlerimizi İnceleyin</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
            <!-- Banner Start -->
            <div class="col-lg-4 col-md-6 col-12 mb-6">
                <div class="banner" data-aos="fade-up" data-aos-delay="500">
                    <div class="banner-image">
                        <img src="~/assets/images/banner/banner-2.jpg" alt="">
                    </div>
                    <div class="info" style="margin: 0 auto; display: table; position: relative; left: 0; top: -42px;">
                        <div class="small-banner-content">
                            <a href="@Url.Action("urunlerimiz","anasayfa", new { brandId = 2 })" class="btn btn-dark btn-sm">Ürünlerimizi İnceleyin</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
            <!-- Banner Start -->
            <div class="col-lg-4 col-md-6 col-12 mb-6">
                <div class="banner" data-aos="fade-up" data-aos-delay="700">
                    <div class="banner-image">
                        <img src="~/assets/images/banner/banner-3.jpg" alt="">
                    </div>
                    <div class="info" style="margin: 0 auto; display: table; position: relative; left: 0; top: -42px;">
                        <div class="small-banner-content">
                            <a href="@Url.Action("urunlerimiz","anasayfa", new { brandId = 2 })" class="btn btn-dark btn-sm">Ürünlerimizi İnceleyin</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->

        </div>
        <!-- Banners End -->
    </div>
</div>