<div class="section">
    <div class="hero-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <!-- Hero Slider Item Start -->
                <div class="hero-slide-item swiper-slide">
                    <!-- Hero Slider Bg Image Start -->
                    <div class="hero-slide-bg">
                        <img src="assets/images/slider/slide-1.png" alt="Slider Image" />
                    </div>
                    <!-- Hero Slider Bg image End -->
                    <!-- Hero Slider Content Start -->
                    <div class="container">
                        <div class="hero-slide-content">
                            <h2 class="title">
                                Stormed<br />
                                Ürünlerimizden
                            </h2>

                            <a href="@Url.Action("urunlerimiz","anasayfa", new { brandId = 1 })" class="btn btn-lg btn-primary btn-hover-dark">Şimdi Alışveriş Yapın</a>
                        </div>
                    </div>
                    <!-- Hero Slider Content End -->
                </div>
                <!-- Hero Slider Item End -->
                <!-- Hero Slider Item Start -->
                <div class="hero-slide-item swiper-slide">

                    <!-- Hero Slider Bg Image Start -->
                    <div class="hero-slide-bg">
                        <img src="assets/images/slider/slide-1-2.png" alt="Slider Image" />
                    </div>
                    <!-- Hero Slider Bg Image End -->
                    <!-- Hero Slider Content Start -->
                    <div class="container">
                        <div class="hero-slide-content">
                            <h2 class="title">
                                Aderente<br />
                                Ürünlerimizden
                            </h2>
                            <a href="@Url.Action("urunlerimiz","anasayfa", new { brandId = 2 })" class="btn btn-lg btn-primary btn-hover-dark">Şimdi Alışveriş Yapın</a>
                        </div>
                    </div>
                    <!-- Hero Slider Content End -->

                </div>
                <!-- Hero Slider Item End -->
                <div class="hero-slide-item swiper-slide">

                    <!-- Hero Slider Bg Image Start -->
                    <div class="hero-slide-bg">
                        <img src="assets/images/slider/slide-1-3.png" alt="Slider Image" />
                    </div>
                    <!-- Hero Slider Bg Image End -->
                    <!-- Hero Slider Content Start -->
                    <div class="container">
                        <div class="hero-slide-content">
                            <h2 class="title">
                                Ürünlerimizi<br />
                                inceleyin ve
                            </h2>
                            <a href="@Url.Action("urunlerimiz","anasayfa")" class="btn btn-lg btn-primary btn-hover-dark">Şimdi Alışveriş Yapın</a>
                        </div>
                    </div>
                    <!-- Hero Slider Content End -->

                </div>
            </div>

            <!-- Swiper Pagination Start -->
            <div class="swiper-pagination d-md-none"></div>
            <!-- Swiper Pagination End -->
            <!-- Swiper Navigation Start -->
            <div class="home-slider-prev swiper-button-prev main-slider-nav d-md-flex d-none"><i class="pe-7s-angle-left"></i></div>
            <div class="home-slider-next swiper-button-next main-slider-nav d-md-flex d-none"><i class="pe-7s-angle-right"></i></div>
            <!-- Swiper Navigation End -->

        </div>
    </div>
</div>